.header-wrap {
  border-bottom: 1px solid var(--borderColor);
  overflow: hidden;
}

.header {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  z-index: 100;
  position: relative;
}

.header-list {
  display: flex;
  li {
    a,button {
      display: block;
      padding: 20px 25px;
      color: var(--color);
      background-color: var(--bg);
      min-width: 130px;
      font-size: 1em;
      text-align: center;
      transition: var(--trans);
      font-family: 'Akrobat';
      border: none;
      &:hover {
        background-color: rgba(20,20,20,.2);
        box-shadow: 0px 1px 0px rgba(200, 20, 20, 0.8);
        cursor: pointer;
      }
    }
  }
}

.nav-right {
  display: flex;
  align-items: center;
  width: 70px;
  justify-content: space-between;
}

.theme-switcher,.user-logout {
  border:none;
  width: 25px;
  height:25px;
  border-radius: 50%;
  background-color: var(--switcher);
  transition: var(--trans);
  box-shadow: 0px 0px 2px 3px var(--switcher);
  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 2px 5px var(--switcher);
  }
  img {
    width: 20px;
    height: 20px;
  }
}

//mobile menu
.rs-btn {
  display: none;
  width: 24px;
  height: 24px;
  border: 1px solid var(--borderColor);
  border-radius: var(--borderRadius);
  transition: all .3s ease;
  .rs-line {
    display: block;
    height: 1px;
    width: 80%;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: var(--borderColor);
  }
  &:hover {
    cursor: pointer;
  }
}

.rs-menu {
  display: none;
  position: fixed;
  background-color: var(--bg);
  width: 100%;
  z-index: -1;
  transform: translate(700px,46px);
  transition: all .3s ease;
  li{
    border-bottom: 1px solid var(--borderColor);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
     a {
      padding: 10px;
      color: var(--color);
      display: block;
    }
    button {
      margin: 0 auto;
      display: block;
    }
  }
}

.open {
  transform: translateY(46px);
}

@media all and (max-width: 768px) {
  .header {
    width: 100%;
  }
}

@media all and (max-width: 550px) {
  .header-list {
    li {
      a, button {
        min-width: 90px;
        padding: 10px 15px;
        font-size: 1.5em;
      }
    }
  }

  .nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-right,
  .coins-item,
  .profile-item {
    display: none;
  }

  .profile-item {
    button {
      color: var(--color);
      background-color: var(--bg);
      min-width: 130px;
      font-size: 1em;
      text-align: center;
      transition: var(--trans);
      font-family: 'Akrobat';
      border: none;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .rs-btn {
    display: block;
  }

  .rs-menu {
    display: block;
  }
}