.home-container {
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
}

.welcome-cart {
  border: 1px solid var(--borderColor);
  border-radius: 4px;
  display: flex;
  padding: 10px;
  justify-content: space-around;
  margin-bottom: 20px;
  hr {
    height: 1px;
    border: none;
    background-color: var(--borderColor);
  }
  .wrap-img {
    width: 300px;
    img {
      width: 100%;
    }
  }
  .wrap-text {
    h1 {
      font-size: 2.2em;
    }
    h2 {
      font-size: 2em;
    }
    h3 {
      font-size: 1.5em;
    }
    p {
      margin-top: 10px;
      font-size: 1.2em;
    }
  }
}

.rules {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .rule-cart {
    width: 320px;
    padding: 10px;
    margin-bottom: 40px;
    border-radius: var(--borderRadius);
    text-align: center;
    border: 1px solid var(--borderColor);
    hr {
      height: 1px;
      border: none;
      background-color: var(--borderColor);
    }
    .wrap-img {
      width: 280px;
      height: 280px;
      margin: 0 auto;
      img {
        width: 100%;
      }
    }
    h3 {
      font-size: 1.7em;
    }
    p {
      font-size: 1.1em;
    }
  }
}

@media all and (max-width: 550px) {
  .welcome-cart {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .wrap-img {
      width: 90%;
    }
    .wrap-text {
      text-align: center;
    }
  }

  .rules {
    flex-direction: column;
    align-items: center;
    .rule-cart {
      width: 260px;
      .wrap-img {
        width: 240px;
      }
    }
  }
}

@media all and (max-width: 360px) {
  .home-container {
    width: 100%;
  }

  .welcome-cart,
  .rules .rule-cart {
    border: none;
  }
} 