.home-container {
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
}

.welcome-cart {
  border: 1px solid var(--borderColor);
  border-radius: 4px;
  display: flex;
  padding: 10px;
  justify-content: space-around;
  margin-bottom: 20px;
  hr {
    height: 1px;
    border: none;
    background-color: var(--borderColor);
  }
  .wrap-img {
    width: 350px;
    img {
      width: 100%;
    }
  }
  .wrap-text {
    h1 {
      font-size: 2.6em;
    }
    h2 {
      font-size: 2.2em;
    }
    p {
      margin-top: 10px;
      font-size: 1.2em;
    }
  }
}

.rules {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .rule-cart {
    width: 320px;
    padding: 10px;
    margin-bottom: 40px;
    border-radius: 4px;
    text-align: center;
    border: 1px solid var(--borderColor);
    hr {
      height: 1px;
      border: none;
      background-color: var(--borderColor);
    }
    .wrap-img {
      width: 280px;
      height: 280px;
      margin: 0 auto;
      img {
        width: 100%;
      }
    }
    h3 {
      font-size: 1.7em;
    }
    p {
      font-size: 1.1em;
    }
  }
}