html, body, ul, li, a, header, nav, h1, h2, h3, h4, h5, h6, input, button, p, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html,body, #root {
  height: 100%;
}

// #root {
//   min-height: 100vh;
// }

@mixin btn {
  display: block;
  padding: 10px;
  border-radius: var(--borderRadius);
  border: 1px solid var(--borderColor);
  background-color: var(--bg);
  font-size: 1em;
  color: var(--color);
  transition: var(--trans);
  &:hover {
    cursor: pointer;
    border: 1px solid var(--color);
  }
}

//initial theme dark
:root {
  --bg: rgb(30,30,30);
  --color: rgb(243,243,243);
  --borderColor: rgba(255, 255, 255, 0.2);
  --theadBg: rgba(255, 255, 255, 0.2);
  --switcher: #eee;

  --borderRadius: 4px;
  --regularOffset: 20px;
  --trans: all .2s ease-in-out;
}

@font-face {
  font-family: 'Akrobat';
  src: url('../font/Akrobat-Regular.otf');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

body {
  background-color: var(--bg);
  color: var(--color);
  margin-bottom: var(--regularOffset);
  font-family: 'Akrobat';
  font-size: 16px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

@media all and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  // .form,
  // .form-choose {
  //   width: 100%;
  // }
}

// @media all and (max-width: 700px) {
//   body {
//     font-size: 14px;
//   }
// }

@media all and (max-width: 500px) {
  :root {
    --regularOffset: 10px;
  }

  // .modal {
  //   width: 70%;
  //   left: 15%;
  // }
}

// @media all and (max-width: 400px) {
//   .modal {
//     width: 100%;
//     left: 0;
//     top: 0;
//   }
// }