html, body, ul, li, a, header, nav, h1, h2, h3, h4, h5, h6, input, button, p, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}


//initial theme light
// :root {
//   --bg: rgb(243,243,243);
//   --color: rgb(30,30,30);
//   --borderColor: #ccc;
//   --theadBg: #ccc;
// }

//initial theme dark
:root {
  --bg: rgb(30,30,30);
  --color: rgb(243,243,243);
  --borderColor: rgba(255, 255, 255, 0.2);
  --theadBg: rgba(255, 255, 255, 0.2);
}

body {
  background-color: var(--bg);
  color: var(--color);
  margin-bottom: 20px;
  font-family: 'Akrobat';
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.modal {
  position: fixed;
  width: 40%;
  height: 400px;
  top: 20%;
  left: 30%;
  background-color: var(--bg);
  color: var(--color);
  border: 1px solid var(--borderColor);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0px 0px 15px var(--borderColor);
}

.form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.title {
  text-align: center;
  padding-bottom: 20px;
}

.form-input {
  display: block;
  border: 1px solid var(--borderColor);
  background-color: var(--bg);
  color: var(--color);
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  transition: all .2s ease-in-out;
  &:focus,&:hover {
    cursor: pointer;
    border: 1px solid var(--color);
  }
}

.form-btn {
  display: block;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  background-color: var(--bg);
  color: var(--color);
  border: 1px solid var(--borderColor);
  transition: all .2s ease-in-out;
  &:hover {
    cursor: pointer;
    border: 1px solid var(--color);
  }
}

.form-close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--borderColor);
  background-color: var(--bg);
  border: none;
  font-size: 14px;
  transition: all .2s ease-in-out;
  &:hover {
    cursor: pointer;
    color: var(--color);
    text-decoration: underline;
  }
}

.form-choose {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 40px;
  .form-choose-btn:first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  .form-choose-btn:last-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}

.form-choose-btn {
  display: block;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  width: 50%;
  background-color: var(--bg);
  color: var(--color);
  border: 1px solid var(--borderColor);
  transition: all .2s ease-in-out;
  &:hover {
    cursor: pointer;
    border: 1px solid var(--color);
  }
}