.profile {
  width: 90%;
  margin: 0 auto;
  min-height: 80vh;
  margin-top: var(--regularOffset);
  display: flex;
  justify-content: space-between;

}

.sidebar {
  width: 23%;
}

.user-actions {
  width: 70%;
}

.user-cash {
  border: 1px solid var(--borderColor);
  padding: 10px;
  text-align: center;
  border-radius: var(--borderRadius);
  margin-bottom: var(--regularOffset);
  hr {
    height: 1px;
    border: none;
    background-color: var(--borderColor);
  }
}

.user-coins {
  border: 1px solid var(--borderColor);
  border-radius: var(--borderRadius);
  margin-bottom: var(--regularOffset);
  .user-coins-list {
    li {
      border-bottom: 1px solid var(--borderColor);
      &:last-child {
        border-bottom: none;
      }
      a {
        padding: 5px 10px;
        color: var(--color);
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        &:hover {
          cursor: pointer;
        }
        .left {
          width: 80px;
          text-align: left;
          display: flex;
          align-items: center;
          .coin-symbol {
            text-align: left;
            padding-left: 10px;
          }
        }
        .right {
          width: 50%;
          display: flex;
          justify-content: space-between;
        }
        .wrap-img {
          width: 30px;
          img { width: 100%; }
        }
      }
    }
  }
}

.user-coins-none {
  border: 1px solid var(--borderColor);
  border-radius: var(--borderRadius);
  margin-bottom: var(--regularOffset);
  padding: var(--regularOffset);
}

.table-title {
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.8em;
}

.user-total-money {
  padding: 10px;
  border: 1px solid var(--borderColor);
  border-radius: var(--borderRadius);
  text-align: center;
  hr {
    height: 1px;
    border: none;
    background-color: var(--borderColor);
  }
}

.table-history-wrap {
  min-height: 370px;
}

.table-history {
  width: 100%;
  margin-bottom: 20px;
  table-layout: fixed;
  border-collapse: collapse;
  border-radius: 4px;
  text-transform: uppercase;
}

thead {
  color: var(--color);
  background-color: var(--theadBg);
  font-weight: bolder;
  font-size: 0.9em;
}

td, th {
  color: var(--color);
  // font-weight: bolder;
  padding: 15px 5px;
}

tr {
  text-align: left;
  margin-bottom: 1px;
  border: 1px solid var(--borderColor);
}

td {
  font-size: 1em;
}

.history-coin {
  display: flex;
  align-items: center;
  .wrap-img {
    width: 30px;
    margin-right: 10px;
    img { width: 100%; }
  }
}

.btns-history {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-bottom: --var(--borderRadius);
  display: flex;
  justify-content: space-between;
  button {
    display: block;
    width: 120px;
    padding: 10px;
    border: 1px solid var(--borderColor);
    color: var(--color);
    font-size: 1em;
    background-color: var(--bg);
    transition: var(--trans);
    border-radius: var(--borderRadius);
    font-family: 'Akrobat';
    &:hover {
      cursor: pointer;
      border-color: var(--color);
    }
    &:disabled {
      color: var(--borderColor);
      border-color: var(--borderColor);
      cursor: not-allowed;
    }
  }
}

.user-history {
  min-height: 550px;
}

@media all and (max-width: 768px) {
  .profile {
    width: 95%;
  }
  .sidebar {
    width: 25%;
  }

  .table-history-wrap {
    min-height: 380px;
  }
}


@media all and (max-width: 500px) {
  .profile {
    width: 100%;
    margin-top: 0;
    flex-wrap: wrap;
  }

  .history-time {
    display: none;
  }

  

  .sidebar {
    width: 100%;
    .user-cash,
    .user-coins,
    .user-total-money {
      border-radius: 0;
      margin-top: 10px;
      border: none;
      border-top: 1px solid var(--borderColor);
      border-bottom: 1px solid var(--borderColor);
    }
  }

  .user-actions {
    width: 100%;
    margin-top: 10px;
  }
}

@media all and (max-width: 360px) {

  .table-history-wrap {
    min-height: 330px;
  }

  .table-history tbody tr td {
    font-size: 0.8em;
    padding: 10px;
  }

  .history-coin .wrap-img {
    margin-right: 3px;
  }
}