.profile {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.sidebar {
  width: 250px;
}

.user-cash {
  border: 1px solid var(--borderColor);
  padding: 10px;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 20px;
  hr {
    height: 1px;
    border: none;
    background-color: var(--borderColor);
  }
}

.user-coins {
  border: 1px solid var(--borderColor);
  border-radius: 4px;
  margin-bottom: 20px;
  .user-coins-list {
    li {
      border-bottom: 1px solid var(--borderColor);
      &:last-child {
        border-bottom: none;
      }
      a {
        padding: 5px 10px;
        color: var(--color);
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        &:hover {
          cursor: pointer;
        }
        .left {
          width: 80px;
          text-align: left;
          display: flex;
          align-items: center;
          .coin-symbol {
            text-align: left;
            padding-left: 10px;
          }
        }
        .wrap-img {
          width: 30px;

          img { width: 100%; }
        }
      }
    }
  }
}

.table-title {
  text-align: center;
  margin-bottom: 15px;
}

.user-total-money {
  padding: 10px;
  border: 1px solid var(--borderColor);
  border-radius: 4px;
  text-align: center;
  hr {
    height: 1px;
    border: none;
    background-color: var(--borderColor);
  }
}

.table-history {
  width: 800px;
  margin-bottom: 20px;
  table-layout: fixed;
  border-collapse: collapse;
  border-radius: 4px;
  text-transform: uppercase;
}

thead {
  color: var(--color);
  background-color: var(--theadBg);
  font-weight: bolder;
  font-size: 14px;
}

td, th {
  color: var(--color);
  font-weight: bolder;
  padding: 15px;
}

tr {
  text-align: left;
  margin-bottom: 1px;
  border: 1px solid var(--borderColor);
}

tbody tr:hover {
  cursor: pointer;
}

td {
  font-size: 16px;
}

.history-coin {
  display: flex;
  align-items: center;
  .wrap-img {
    width: 30px;
    margin-right: 10px;
    img { width: 100%; }
  }
}

.btns-history {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  button {
    display: block;
    width: 120px;
    padding: 10px;
    border: 1px solid var(--borderColor);
    color: var(--color);
    font-size: 1em;
    background-color: var(--bg);
    transition: all .2s ease-in-out;
    border-radius: 4px;
    font-family: 'Akrobat';
    &:hover {
      cursor: pointer;
      border-color: var(--color);
    }
    &:disabled {
      color: var(--borderColor);
      border-color: var(--borderColor);
      cursor: not-allowed;
    }
  }
}