.profile {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.sidebar {
  width: 250px;
}

.user-cash {
  border: 1px solid var(--borderColor);
  padding: 10px;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 20px;
  hr {
    height: 1px;
    border: none;
    background-color: var(--borderColor);
  }
}

.user-coins {
  border: 1px solid var(--borderColor);
  border-radius: 4px;
  margin-bottom: 20px;
  .user-coins-list {
    li {
      border-bottom: 1px solid var(--borderColor);
      &:last-child {
        border-bottom: none;
      }
      a {
        padding: 5px 10px;
        color: var(--color);
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        &:hover {
          cursor: pointer;
        }
        .left {
          width: 60px;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        .wrap-img {
          width: 30px;
          img { width: 100%; }
        }
      }
    }
  }
}

.user-total-money {
  padding: 10px;
  border: 1px solid var(--borderColor);
  border-radius: 4px;
  text-align: center;
  hr {
    height: 1px;
    border: none;
    background-color: var(--borderColor);
  }
}