.single-coin-page {
  width: 90%;
  margin: 0 auto;
  margin-top: 15px;
}

.single-coin-top {
  display: flex;
  justify-content: space-between;
}

.coin-trade {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.coin-trade-form {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--borderColor);
  padding: var(--regularOffset);
  border-radius: var(--borderRadius);
  width: 41%;
  input {
    display: block;
    border: 1px solid var(--borderColor);
    background-color: var(--bg);
    color: var(--color);
    margin-bottom: var(--regularOffset);
    padding: 10px;
    font-size: 1em;
    border-radius: 4px;
    transition: var(--trans);
    width: 100%;
    &:focus,&:hover {
      cursor: pointer;
      border: 1px solid var(--color);
    }
  }
  button {
    display: block;
    padding: 10px;
    font-size: 1em;
    border-radius: 4px;
    background-color: var(--bg);
    color: var(--color);
    border: 1px solid var(--borderColor);
    transition: var(--trans);
    &:hover {
      cursor: pointer;
      border: 1px solid var(--color);
    }
  }
}

.coin-info {
  border: 1px solid var(--borderColor);
  padding: var(--regularOffset);
  width: 20%;
  text-align: center;
  border-radius: var(--trans);
  hr {
    border: none;
    background-color: var(--borderColor);
    height: 2px;
    margin-bottom: var(--regularOffset);
  }

  .info-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .wrap-img {
    width: 40px;
    img {
      width: 100%;
    }
  }
}

.user-money {
  border: 1px solid var(--borderColor);
  padding: var(--regularOffset);
  width: 20%;
  border-radius: var(--borderRadius);
  text-align: center;
  hr {
    border: none;
    background-color: var(--borderColor);
    height: 2px;
    margin-bottom: var(--regularOffset);
  }
  p {
    font-size: 1.4em;
    font-weight: bolder;
  }
}

.chart {
  margin-top: 10px;
  height: 500px;
}

.buttons-history {
  width: 500px;
  margin: 0 auto;
  margin-top: var(--regularOffset);
  display: flex;
  justify-content: space-between;
  button {
    font-size: 0.9em;
    padding: 10px;
    width: 19%;
    border: 1px solid var(--borderColor);
    color: var(--color);
    background-color: var(--bg);
    border-radius: var(--borderRadius);
    transition: var(--trans);
    &:hover {
      cursor: pointer;
      border: 1px solid var(--color);
    }
  }
}

@media all and (max-width: 768px) {
  .single-coin-page {
    width: 100%;
  }

  .single-coin-top {
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
  }

  .chart {
    height: 350px;
  }

  .coin-info,
  .user-money {
    width: 41%;
    margin-bottom: 20px;
  }

  .coin-trade {
    order: 1;
    width: 100%;
  }
}

@media all and (max-width: 500px) {
  .single-coin-page {
    margin-top: 0;
  }

  .single-coin-top {
    width: 100%;
  }

  .coin-info,
  .user-money {
    width: 42%;
    margin-bottom: 0;
    border: none;
  }

  .user-money {
    h2 {
      padding-bottom: 7px;
    }
  }

  .coin-info {
    .info-head {
      justify-content: center;
      align-items: center;
    }
    .wrap-img {
      width: 25px;
    }
  }

  .coin-trade {
    width: 100%;
    .coin-trade-form {
      width: 44%;
      border: none;
    }
  }

  .chart {
    height: 250px;
  }

  .buttons-history {
    width: 95%;
    button {
      width: 19%;
    }
  }

}