.price-table {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  table-layout: fixed;
  border-collapse: collapse;
  border-radius: 4px;
  text-transform: uppercase;
}

thead {
  color: var(--color);
  background-color: var(--theadBg);
  font-size: 0.9em;
}

td, th {
  color: var(--color);
  padding: 15px;
}

tr {
  text-align: center;
  margin-bottom: 1px;
  border: 1px solid var(--borderColor);
}

tbody tr:hover {
  cursor: pointer;
}

td {
  font-size: 1em;
}

.green {
  color: rgba(79, 216, 79, 0.8);
}

.red {
  color: rgba(200, 20, 20, 0.8);
}

@media all and (max-width: 768px) {
  .price-table {
    width: 100%;
    margin-top: 0;
  }
  tr {
    border: none;
    border-bottom: 1px solid var(--borderColor);
  }
}
@media all and (max-width: 500px) {
  .table-coin-id {
    display: none;
  }
}

@media all and (max-width: 400px) {
  .table-coin-id, .rank {
    display: none;
  }
  td, th {
    padding: 15px 5px;
  }
}